datasets==2.18.0
transformers==4.40.0
sentencepiece==0.2.0
accelerate==0.29.2
loralib==0.1.2
peft==0.10.0
evaluate==0.4.1
ftfy==6.2.0
inflect==7.2.0
scipy==1.13.0
nltk==3.8.1
timm==0.9.16
protobuf==4.25.3
wandb==0.16.6
pydantic==1.10.13
ray==2.7.1
tornado
pynvml==11.5.0
pymongo==4.7.1
tqdm==4.66.2
